*{
    margin: 0;
    padding: 0;
}
.header{
   background-color: cornflowerblue;
}
.logo{
    display: flex;
    justify-content: space-between;
}
.left_logo{
   margin-top: 10px;
   margin-left: 20px;
}
.left_logo img{
   height: 50px;
}
.right_logo{
   margin-top: 10px;
   margin-right: 20px;
}
.right_logo img{
   height: 50px;
}
.header_content{
   background-color: black;
}
.header_content ul{
   display: flex;
   justify-content: space-between;
   list-style: none;
}
.header_content ul li{
   margin-top: 5px;
   margin-bottom: 5px;
}
.header_content ul li a{
  text-decoration: none;
  color: white;
  text-transform: capitalize;
}
.dropdown-menu a:hover{
   color: white;
}
.carousel-item{
   padding-left: 10px;
   padding-right: 10px;
}
.carousel-item img{
  
}
.carousel-item h4{
   text-transform: capitalize;
}
.banner1{
   margin-top: 5px;
}
.banner1{
   
}
.banner1 h4{
   text-transform: capitalize;
   color: black;
}
.banner2{
   padding-top: 10px;
   padding-bottom: 10px;
}
.banner2 h2{
   text-align: center;
   text-transform: capitalize;
   margin-bottom: 15px;
}
.banner2_1{
   display: flex;
   justify-content: space-between;
}
.banner2_1img{

}
.banner2_1img img{
   max-height: 300px;
   max-width: 300px;
}
.banner2_1content{

}
.banner2_2{

}
.banner2_2content{

}
.banner2_3{
   display: flex;
   justify-content: space-between;
}
.banner2_3img{

}
.banner2_3img img{
   max-height: 300px;
   max-width: 300px;
}
.banner2_3content{

}
.banner2_4{

}
.banner2_4content{

}
.banner2_5{
   display: flex;
   justify-content: space-between;
}
.banner2_5img{

}
.banner2_5img img{
   max-height: 300px;
   max-width: 300px;
}
.banner2_5content{

}
.middle1_sec{
   padding-top: 10px;
}
.middle1{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
}
.first1{
  margin-left: 15px;
}
.first1 h1{
  text-transform: capitalize;
  
}
.first1 p{
  text-transform: capitalize;
}
.first1 button{
   text-transform: capitalize;
   color: white;
}
.second1{
  margin-right: 15px;
}
.second1_img{
  height: 230px;
} 
.second1_img img{
   height: 100%;
}
.middle2_sec{
   
}
.middle2{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
}
.first2{
   margin-left: 15px;
}
.first2 h1{
   text-transform: capitalize;
}
.first2 p{
   text-transform: capitalize;
}
.first2 button{
   text-transform: capitalize;
   color: white;
}
.second2{
   margin-right: 15px;
}
.second1_img{
   height: 230px;
   margin-top: 60px;
}
.second1_img img{
   height: 100%;
}
footer{
   background-color: black;
   padding-top: 15px;
}
.about_us{

}
.about_us h2{
  color: white;
  text-transform: capitalize;
}
.about_us p{
  color: white;
}
.about_us button{

}
.navigation{

}
.navigation h2{
   color: white;
   text-transform: capitalize;
}
.navigation ul{
   color: white;
}
.navigation ul li{

}
.navigation ul li a{
   color: white;
   text-transform: capitalize;
}
.contact_us{

}
.contact_us h2{
   color: white;
   text-transform: capitalize;
}
.contact_us ul{
   list-style: none;
}
.contact_content{
  display: flex;
}
.contact_content i{
   color: white;
}
.contact_content h5{
   color: white;
}
.copyright{
   text-align: center;
   padding-top: 15px;
   padding-bottom: 15px;
   color: white;
}
.copyright span{
  
}
.copyright a{

}
